
//                     nextflow based RNA-seq pipeline config

// docker settings
docker.enabled = true
process.container = 'uschwartz/nucmacc'
docker.runOptions='-u $(id -u):$(id -g)'



// Global default params, used in configs
params {
  //                    Directories
  // path to Input
  csvInput="$projectDir/toyData/input.csv"
  // path to Output
  outDir="$HOME/nucMACC_test/"
  // path to project
  project="$projectDir"
  // path to pipeline running reports
  tracedir = "${params.outDir}/pipeline_info"
  // path to bowtie2 index
  genomeIdx="$projectDir/toyData/annotation_dm3/Bowtie2Index/genome"

  // path to genome fasta
  genome="$HOME/Annotation/Drosophila_melanogaster_UCSC_dm3/Drosophila_melanogaster/UCSC/dm3/Sequence/WholeGenomeFasta/genome.fa"

  //                    Options
  help=false
  // path to reference file for TSS plots
  TSS=false
  //Path to file for filtering regions
  //blacklist="$projectDir/toyData/dm3-blacklist_Chromosomes.bed"
  blacklist=false
  //efective genome size for normalisation
  genomeSize=162367812
  // test RUN with toyData
  test = false


}

process {
    withLabel: big {
        cpus = 5
        memory = 50.GB
        queue = 'long'
    }
    withLabel: mid {
        cpus = 2
        memory = 16.GB
        queue = 'long'
    }
}


// reporting

manifest {
  name = 'uschwartz/nucMACC'
  author = 'Uwe Schwartz'
  description = 'Nextflow differential MNase-seq analysis pipeline'
  mainScript = 'main.nf'
  version = '01.0.0'
}

// pipeline reports
timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
