
//                     nextflow based RNA-seq pipeline config

// docker settings
docker.enabled = true
process.container = 'uschwartz/nucmacc'
docker.runOptions='-u $(id -u):$(id -g)'



// Global default params, used in configs
params {
  //                    Directories
  // path to Input
  csvInput="$projectDir/toyData/input.csv"
  // path to Output
  outDir="$HOME/nucMACC_test/"
  // path to project
  project="$projectDir"
  // path to pipeline running reports
  tracedir = "${params.outDir}/pipeline_info"

  help=false


}

process {
    withLabel: big {
        cpus = 12
        memory = 50.GB
        queue = 'long'
    }
}


// reporting

manifest {
  name = 'uschwartz/nucMACC'
  author = 'Uwe Schwartz'
  description = 'Nextflow differential MNase-seq analysis pipeline'
  mainScript = 'main.nf'
  version = '01.0.0'
}

// pipeline reports
timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
